body {
    background-image: url('../images/background.png');
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    margin: auto 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}


/* Square */
.square {
    display: flex;
    flex-direction: column;
    width: 20vh;
    height: 25vh;
    margin: 50px 50px;
    background-color: black;
    border: 0.5vh solid black;
    border-bottom: 4vh solid black;
    border-radius: 2vh;
}

.square img {
    max-width: 100%;
    border-top-right-radius: 2vh;
    border-top-left-radius: 2vh;
}

.baseboard {
    height: 2vh;
    position: relative;
    margin: 0 auto;
    top: 1vh;
    color: white;
    font-size: 2vh;
}

.baseboard:hover {
    cursor: default;
}